@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(231, 173, 153);
    background-size: 100vh;

    font-family: sans-serif;
}

nav{
    font-size: 15px;
    display: inline-block;
}
nav > h1 {
    display: inline-block;
}
a {
    text-decoration: none;
}
h1 {
    font-family: 'Poetsen One';
}
header > h1 {
    
    font-size: 20px;
}

li {
    display: inline-block;
    padding-left: 20px;
}
main {
    float: left;
}
div {
    background-size: 300px;
    float: right;
}